*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(48, 48, 47);
  padding: 0;
  margin: 0;
}

.output {
  grid-column: 1 / -1;
  background-color: rgb(123, 121, 118);
  color: white;
  font-size: 20px;
  padding: 10px 2px;
  cursor: pointer;
  outline: none;
  border: 1px solid #e6e6e6;
}

.output::placeholder {
  color: white;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(6, 60px);
}

.calculator-grid button {
  border: 1px solid #e6e6e6;
  cursor: pointer;
}

.calculator-grid button:hover {
  opacity: 0.8;
}

.two-spaces {
  grid-column: span 2;
}

.orange {
  background-color: rgb(245, 166, 39);
}
